{% extends 'movierating/base.html' %}
{% block content %}
<html>
    <head>
        <style>
        </style>
    </head>
<body>
    {% if submitted%}
    YOUR are submit
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        <td>
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary">
    </form>
</body>
{% endif %}
{% endblock %}