{% extends 'movierating/base.html' %}

{% block content %}
<head>
    <style>
        .h5 {
            margin-left: 35%;
        }
    </style>
</head>
<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ movie.image }}" alt="{{ movie.name }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h3 class="text-center">
                    {{ movie.name }}
                </h3>
                <p>{{ movie.description }}</p>
                <h5>Director: {{ movie.director }}</h5>
                <h5>Cast: {{ movie.cast }}</h5>
                <h5>Rating: {{movie.averageRating}}/10</h5>
                <h5 style="color: blue ;" class="h5">Movie Trailer</h5>
                <iframe width="600" height="320" src="{{movie.videos}}">
                </iframe>

            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <form action="{% url 'movierating:add-rating' %}" method="post">
        {% csrf_token %}
        <div class="input-group input-group-lg">
            <input type="text"  class="form-control" name="rating" placeholder="Rating here">
            <input type="hidden" value="{{movie.id}}" name="movie">
            </div>
            <br>
        <button type="submit" class="btn btn-secondary btn-lg">Rating here</button>
    </form>
    <br>
    <br>
    {% if ratings %}
        {% for rating in ratings %}
                <table>
                    <tbody><h4 style="color:rgb(255, 0, 225);"><i>name:{{rating.user}}</i></h4></tbody>
                    <tbody>
                    <h4 style="color: brown;"><b>rating:{{rating.rating}}</b></h4></tbody>
                </table>
                {% endfor %}{% endif %}
    <form action="{% url 'movierating:add-comment' %}" method="post">
        {% csrf_token %}
        <div class="input-group input-group-lg">
            <input type="text"  class="form-control" name="comment" placeholder="Comment here">
            <input type="hidden" value="{{movie.id}}" name="movie">
            </div>
            <br>
        <button type="submit" class="btn btn-secondary btn-lg">Comment</button>
    </form>
    <br>
    <br>
    {% for comment in comments %}
            <table>
                <tbody><h4 style="color:rgb(255, 0, 225);"><i>name:{{comment.user}}</i></h4></tbody>
                <tbody>
                <h4 style="color: brown;"><b>comment:{{comment.comment}}</b></h4></tbody>
            </table>
            {% endfor %}

{% endblock %}