<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                margin: 0;
                padding: 0;
                height: 100vh;
                font-family: sans-serif;
                background-image: url('https://images.pexels.com/photos/3945317/pexels-photo-3945317.jpeg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                overflow: hidden
            }@media screen and (max-width: 600px){
                body{
                    background-size: cover fixed;
                }
            }#particles-js{
                height: 100%
            }
            .loginBox{
                position: absolute;
                top: 50%;
                left: 60%;
                transform: translate(-50%,-50%);
                width: 350px;
                min-height: 200px;
                background: #000000;
                border-radius: 10px;
                padding: 40px;
                box-sizing: border-box
            }
            .user{
                margin: 0 auto;
                display: block;
                margin-bottom: 20px
            }
            h3{
                margin: 0;
                padding: 0 0 20px;
                color: #59238F;
                text-align: center
            }
            .loginBox input
            {
                width: 100%;
                margin-bottom: 20px
            }.loginBox input[type="text"], .loginBox input[type="password"]
            
            {
                border: none;border-bottom: 2px solid #262626;
                outline: none;
                height: 40px;
                color: #fff;
                background: transparent;
                font-size: 16px;
                padding-left: 20px;
                box-sizing: border-box
            }
            .loginBox input[type="text"]:hover,
             .loginBox input[type="password"]:hover{
                color: #42F3FA;
                border: 1px solid #42F3FA;
                box-shadow: 0 0 5px rgba(0,255,0,.3), 0 0 10px rgba(0,255,0,.2), 0 0 15px rgba(0,255,0,.1), 0 2px 0 black
            }
            .loginBox input[type="text"]:focus, .loginBox input[type="password"]:focus{border-bottom: 2px solid #42F3FA}.inputBox{position: relative}
            .inputBox span{
                position: absolute;top: 10px;color: #262626
            }.loginBox input[type="submit"]{border: none;
                outline: none;
                height: 40px;
                font-size: 16px;
                background: #59238F;
                color: #fff;
                border-radius: 20px;
                cursor: pointer
            }
            .loginBox a{
                color: #262626;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                display: block
            }
            a:hover{
                color: #00ffff
            }
            .h3{
                margin-top: 1%;
                margin-left: 23%;
                font-size: 500%;
                color: darkblue;
                font-weight: bold;
            }
            .p1{
                font-size: 250%;
                color:rgb(255, 0, 0);
                font-weight: bold;
                margin-left: 10%;
                margin-top: 10%;
            }
            .label1{
                color: white;
            }
        </style>
    </head>
    <body>
        {% if not user.is_authenticated %}
        <a href="{% url 'movierating:login' %}">Login here!</a>
        {% else %}
        <h3 class="h3">MovieRating</h3>
        {% endif %}
        <p class="p1">{{message}}</p>
<div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Sign in here</h3>
    <form method="POST" action="{% url 'movierating:login' %}">
        {% csrf_token %}
        <div class="inputBox">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
    <label for="username" class="label1">Username</label>
        <input type="text" id="username" name="username" class="input1"><br/>
    <label for="password" class="label1">Password</label>
        <input type="password" id="password" name="password">
</div> 
<input type="submit" name="" value="Login">
    </form> 
    <a href="#">Forget Password<br> </a>
    <div class="text-center">
        <a href="{%url 'movierating:register' %}" style="color: #59238F;" id="reg">Register</a>
    </div>
    
</div>
</html>