{% extends 'movierating/base.html' %}

{% block content %}         

<!--Register--> 
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form}}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'movierating:login'%}">login</a> instead.</p>
</div>

{% endblock %}